	<meta charset="utf-8">
	
	<script type='text/javascript' src='scripts/jquery.js'></script>
<script type='text/javascript' src='scripts/js.js'></script>
<link rel='stylesheet' href='style/type_org_style.css'/>
	
	<!--[if (gte IE 6)&(lte IE 8)]>
<script type="text/javascript" src="scripts/selectivizr-min.js"></script>
<script type="text/javascript" src="scripts/html5shiv.js"></script>
<![endif]-->

	<section id="main_connect_info">
		
			<div class='org_name'>
			<p class="boldtext">Представительства иностранных организаций</p>
			</div>
		
	<ul>
	
	
	<li>Свидетельство о постановке на учет в налоговом органе (ИНН/КПП)<span class='more_info'>?</span>
	<p class='content_info'>Свидетельство о постановке на учет в налоговом органе (ИНН/КПП) – копия, заверенная организацией.*</p></li>
	
	<li>Свидетельства о внесении в сводный государственный реестр аккредитованных на территории РФ представительств иностранных компаний <span class='more_info'>?</span> 
	<p class='content_info'>Заверенная организацией копия свидетельства о внесении в сводный государственный реестр аккредитованных на территории РФ представительств иностранных компаний. </p></li>
	
	<li>Для филиалов иностранных компаний - оригинал или заверенная организацией копия свидетельства о внесении в государственный реестр филиалов иностранных юридических лиц, аккредитованных на территории РФ<span class='more_info'>?</span>
	<p class='content_info'>Для филиалов иностранных компаний - оригинал или заверенная организацией копия свидетельства о внесении в 
государственный реестр филиалов иностранных юридических лиц, аккредитованных на территории РФ.</p>

	</li>
	
	<li>Копия документа, подтверждающего полномочия руководителя<span class='more_info'>?</span> 
<p class='content_info'>Копия документа о назначении руководителя (приказ или доверенность, 
подтверждающая полномочия владельца, заверенная организацией*.. Обратите внимание, не принимаются приказы по форме Т-1, Т-5 и т.п.)</p>
	</li>
	
	<li>Положение о создании представительства <span class='more_info'>?</span> 
	<p class='content_info'>Положение о создании представительства, заверенное организацией.*
Обратите внимание, в Заявлении на создание квалифицированного сертификата ключа проверки электронной подписи в поле О (наименование организации) 
должно быть указано наименование иностранной организации, а в поле OU (наименование филиала). - наименование представительства.</p></li>
	
	
	<li>Копия паспорта владельца ЭП<span class='more_info'>?</span> 
		<p class='content_info'>Копия паспорта лица владельца ЭП (2 и 3 страница паспорта, на чье имя изготавливается ЭП), заверенная организацией*. 
В случае, если получать ЭП приезжает лично владелец ЭП, то в УЦ предоставляется оригинал паспорта и копия. 
Если владельцем ЭП является иностранный гражданин – копия нотариального перевода паспорта, заверенная организацией*.</p></li>
	
		<li>Страховой номер индивидуального лицевого счета (СНИЛС) владельца ЭП<span class='more_info'>?</span> 
		<p class='content_info'>Страховой номер индивидуального лицевого счета (СНИЛС) владельца ЭП (лица, на чье имя изготавливается ЭП) – 
копия заверенная организацией*. В случае отсутствия СНИЛС у владельца ЭП, необходимо предоставить 
письмо об отсутствии СНИЛС с указанием причины. Скачать бланк письма об отсутствии СНИЛС.</p></li>
		
	
	<li>Для получения ЭП для участия в торгах оригинал или нотариально заверенная копия выписки из ЕГРЮЛ не старше 1 месяца.<span class='more_info'>?</span> 
	<p class='content_info'>Если ЭП получает не владелец сертификата, а его доверенное лицо, то дополнительно предоставляются:</p>
		<ul class='content_info'>
			<li>Доверенность на получение сертификата (скачать бланк доверенности)</li>
			<li>	Паспорт доверенного лица - оригинал и дополнительно копия (2 и 3 страницы).</li>
		</ul>
	

</li>
	
</ul>

</section>
		<p class='back_p'> <a href='index.html'>Назад</a></p>