	<meta charset="utf-8">
	
	<script type='text/javascript' src='scripts/jquery.js'></script>
<script type='text/javascript' src='scripts/js.js'></script>
<link rel='stylesheet' href='style/type_org_style.css'/>
	


	<section id="main_connect_info">
		
		<div class='org_name'>
			<p class="boldtext">Физическое лицо</p>
			</div>
		
	<ul>
	
	
	<li>Свидетельство о постановке на учет в налоговом органе физического лица по месту жительства на территории РФ (ИНН)<span class='more_info'>?</span>
	<p class='content_info'>Свидетельство о постановке на учет в налоговом органе физического лица по месту жительства на территории РФ (ИНН) – оригинал или нотариально заверенная копия.</p></li>
	
	
	
	<li>Копия паспорта владельца ЭП<span class='more_info'>?</span>
	<p class='content_info'>Оригинал или нотариально заверенная копия паспорта владельца ЭП (2, 3 страницы и страницы с отметкой о регистрации, на чье имя изготавливается ЭП).</p>

	</li>
	
	<li>Страховой номер индивидуального лицевого счета (СНИЛС) владельца ЭП<span class='more_info'>?</span> 
<p class='content_info'>Страховой номер индивидуального лицевого счета (СНИЛС) лица, на чье имя изготавливается ЭП – оригинал или нотариально заверенная копия. 
В случае отсутствия СНИЛС у лица, на чье имя изготавливается ЭП, необходимо предоставить оригинал письма из ПФР с указанием номера СНИЛС.</p>
	</li>
	
	
	

	
	<li>Для получения ЭП для участия в торгах оригинал или нотариально заверенная копия выписки из ЕГРЮЛ не старше 1 месяца.<span class='more_info'>?</span> 
	<p class='content_info'>Если ЭП получает не владелец сертификата, а его доверенное лицо, то дополнительно предоставляются:</p>
		<ul class='content_info'>
			<li>Доверенность на получение сертификата (скачать бланк доверенности)</li>
			<li>	Паспорт доверенного лица - оригинал и дополнительно копия (2 и 3 страницы).</li>
		</ul>
	

</li>
	
</ul>

</section>
		<p class='back_p'> <a href='index.html'>Назад</a></p>
		
		<div id='div_print'> 
<a id='print_doc' href='#' rel='print/print_fz.html'> печать</a>
</div>