	<meta charset="utf-8">
	
	<script type='text/javascript' src='scripts/jquery.js'></script>
<script type='text/javascript' src='scripts/js.js'></script>
<link rel='stylesheet' href='style/type_org_style.css'/>
	


	<section id="main_connect_info">
		
			<div class='org_name'>
			<p class="boldtext">Индивидуальный предприниматель</p>
			</div>
		
	<ul>
	
	
	<li>Свидетельство о постановке на учет в налоговом органе физического лица по месту жительства на территории РФ (ИНН)<span class='more_info'>?</span>
	<p class='content_info'>Свидетельство о постановке на учет в налоговом органе физического лица по месту жительства на территории РФ (ИНН) – копия, заверенная ИП.*</p></li>
	
	<li>Свительство о регистрации физического лица в качестве индивидуального предпринимателя (ОГРНИП)<span class='more_info'>?</span> 
	<p class='content_info'>Свидетельство о регистрации физического лица в качестве индивидуального предпринимателя (ОГРНИП) – копия, заверенная ИП.*</p></li>
	
	<li>Копия паспорта владельца ЭП<span class='more_info'>?</span>
	<p class='content_info'>Копия паспорта лица владельца ЭП (2 и 3 страница паспорта, на чье имя изготавливается ЭП), заверенная организацией*. 
В случае, если получать ЭП приезжает лично владелец ЭП, то в УЦ предоставляется оригинал паспорта и копия. 
Если владельцем ЭП является иностранный гражданин – копия нотариального перевода паспорта, заверенная ИП*.</p>

	</li>
	
	<li>Страховой номер индивидуального лицевого счета (СНИЛС) владельца ЭП<span class='more_info'>?</span> 
<p class='content_info'>Страховой номер индивидуального лицевого счета (СНИЛС) владельца ЭП (лица, на чье имя изготавливается ЭП) – 
копия, заверенная ИП.*<br>В случае отсутствия СНИЛС у лица, на чье имя изготавливается Квалифицированный сертификат, необходимо предоставить  письмо о подтверждении СНИЛС или письмо об отсутствии СНИЛС", сделав названия писем активным ссылками, нажимая на которые скачивается бланк письма.

Если ИП работает без печати, то предоставляется оригинал письма из ПФР с указанием номера СНИЛС.</p>
	</li>
	
	<li>Для получения ЭП для участия в торгах оригинал или нотариально заверенная копия выписки из ЕГРЮЛ не старше 1 месяца.<span class='more_info'>?</span> 
	<p class='content_info'>Копия паспорта лица владельца ЭП (2 и 3 страница паспорта, на чье имя изготавливается ЭП), заверенная организацией*.
 В случае, если получать ЭП приезжает лично владелец ЭП, то в УЦ предоставляется оригинал паспорта и копия. 
 Если владельцем ЭП является иностранный гражданин – копия нотариального перевода паспорта, заверенная организацией*.</p></li>
	
	

	
	<li>Для получения ЭП для участия в торгах оригинал или нотариально заверенная копия выписки из ЕГРЮЛ не старше 1 месяца.<span class='more_info'>?</span> 
	<p class='content_info'>Если ЭП получает не владелец сертификата, а его доверенное лицо, то дополнительно предоставляются:</p>
		<ul class='content_info'>
			<li>Доверенность на получение сертификата (скачать бланк доверенности)</li>
			<li>	Паспорт доверенного лица - оригинал и дополнительно копия (2 и 3 страницы).</li>
		</ul>
	

</li>
	
</ul>

</section>
		<p class='back_p'> <a href='index.html'>Назад</a></p>