	<meta charset="utf-8">
	
	<script type='text/javascript' src='scripts/jquery.js'></script>
<script type='text/javascript' src='scripts/js.js'></script>
<link rel='stylesheet' href='style/type_org_style.css'/>
	
	<!--[if (gte IE 6)&(lte IE 8)]>
<script type="text/javascript" src="scripts/selectivizr-min.js"></script>
<script type="text/javascript" src="scripts/html5shiv.js"></script>
<![endif]-->

	<section id="main_connect_info">
		
				<div class='org_name'>
			<p class="boldtext">Филиал юридического лица или обособленное подразделение</p>
			</div>
		
	<ul>
	
	
	<li>Уведомление о постановке на налоговый учет по месту нахождения филиала<span class='more_info'>?</span>
	<p class='content_info'>Уведомление о постановке на налоговый учет по месту нахождения филиала – копия, заверенная организацией*. Обратите внимание на КПП в Свидетельстве,
		такой же КПП должен быть во всех заявлениях, которые печатаются из личного кабинета.</p></li>
	<li>Свидетельство о государственной регистрации (ОГРН) головного предприятия или Свидетельство о внесении записи в ЕГРЮЛ<span class='more_info'>?</span> 
	<p class='content_info'>Свидетельство о государственной регистрации (ОГРН) головного предприятия или Свидетельство о внесении записи в ЕГРЮЛ 
(выдавалось при любых изменениях реквизитах в организации) - копия, заверенная организацией.* Обратите внимание на сокращенное наименование в данном Свидетельстве, 
такое же должно быть в Заявлении на создание квалифицированного сертификата ключа проверки электронной 
подписи в поле «О (наименование организации)», а наименование филиала  указано в поле «OU (наименование филиала для ЮЛ)».</p></li>
	
	<li>Копия документа, подтверждающего полномочия руководителя<span class='more_info'>?</span>
	<p class='content_info'>Копия документа, подтверждающего полномочия руководителя (приказ, протокол, решение и пр.) и 
доверенность, подтверждающая полномочия владельца ЭП, заверенные организацией*. Обратите внимание, что не принимаются приказы по форме Т-1, Т-5 и т.п.</p>

	</li>
	
	<li>Выписка из положения о создании филиала<span class='more_info'>?</span> 
<p class='content_info'>Выписка из положения о создании филиала, где указано сокращенное наименование филиала – копия, заверенная организацией.*</p>
	</li>
	
	<li>Копия паспорта владельца ЭП<span class='more_info'>?</span> 
	<p class='content_info'>Копия паспорта лица владельца ЭП (2 и 3 страница паспорта, на чье имя изготавливается ЭП), заверенная организацией*.
 В случае, если получать ЭП приезжает лично владелец ЭП, то в УЦ предоставляется оригинал паспорта и копия. 
 Если владельцем ЭП является иностранный гражданин – копия нотариального перевода паспорта, заверенная организацией*.</p></li>
	
	
	<li>Страховой номер индивидуального лицевого счета (СНИЛС) владельца ЭП<span class='more_info'>?</span> 
		<p class='content_info'>Страховой номер индивидуального лицевого счета (СНИЛС) владельца ЭП (лица, на чье имя изготавливается ЭП) – копия заверенная организацией*.
 В случае отсутствия СНИЛС у владельца ЭП необходимо предоставить письмо об отсутствии СНИЛС с указанием причины (скачать бланк письма об отсутствии СНИЛС).</p></li>
	
	<li>Для получения ЭП для участия в торгах оригинал или нотариально заверенная копия выписки из ЕГРЮЛ не старше 1 месяца.<span class='more_info'>?</span> 
	<p class='content_info'>Если ЭП получает не владелец сертификата, а его доверенное лицо, то дополнительно предоставляются:</p>
		<ul class='content_info'>
			<li>Доверенность на получение сертификата (скачать бланк доверенности)</li>
			<li>	Паспорт доверенного лица - оригинал и дополнительно копия (2 и 3 страницы).</li>
		</ul>
	

</li>
	
</ul>

</section>
		<p class='back_p'> <a href='index.html'>Назад</a></p>