

	
	#main_connect_info{
	font-size:98%;
	
	}
	.ip_wrap{display:none}
	.org_name{

		margin:auto;
	
		width:40%;
		background-color:#558FED;
		position:relative;
		border-radius:10px;
		font-size:1.1em;
		text-align:center;
		font-weight:bold;
		margin-bottom:40px;
	
	}
	
		#main_connect_info div p{
		padding:10px 3px 10px 3px;
	
		}
	
	.more_info{
	
	background-color:#A1B3C4;
	color:white;
	padding:3px 7px 3px 7px;

	margin-left:10px;


	border-radius:5px;
	cursor:pointer;
	}
	
	.more_info:hover{
	font-weight:bold;
	color:#D34D5A;
		padding:4px 8px 4px 8px;


	
	}
	.content_info{
	font-weight:normal;
	color:#636B72;
	display:none;
	margin-left:20px;
	}

	
	li{
				line-height:1.5em;
		font-weight:bold;
		margin:10px;
		margin-top:15px;
	}
	a{
		
		
		text-decoration:none;
	}
	.back_p{
		
		font-size:1.1em.
			
	}
	
	#print_doc{
cursor:pointer;
background-color:grey;
padding:10px;
text-align:right;
color:white;
border-radius:10px;
	
	}
	
	#div_print{
	float:right;
	background:none;
	margin-right:50px;

	}