		
		
		
			<p class="boldtext">Физическое лицо</p>
		
		
	<ul>
	
	
			<li>Свидетельство о постановке на учет в налоговом органе физического лица по месту жительства на территории РФ (ИНН)<br>
				<p>Свидетельство о постановке на учет в налоговом органе физического лица по месту жительства на территории РФ (ИНН) – оригинал или нотариально заверенная копия.</p></li>
			
			
			
			<li>Копия паспорта владельца ЭП<br>
				<p>Оригинал или нотариально заверенная копия паспорта владельца ЭП (2, 3 страницы и страницы с отметкой о регистрации, на чье имя изготавливается ЭП).</p>

			</li>
			
			<li>Страховой номер индивидуального лицевого счета (СНИЛС) владельца ЭП<br>
				<p>Страховой номер индивидуального лицевого счета (СНИЛС) лица, на чье имя изготавливается ЭП – оригинал или нотариально заверенная копия. 
				В случае отсутствия СНИЛС у лица, на чье имя изготавливается ЭП, необходимо предоставить оригинал письма из ПФР с указанием номера СНИЛС.</p>
			</li>
			
			
			

			
			<li>Для получения ЭП для участия в торгах оригинал или нотариально заверенная копия выписки из ЕГРЮЛ не старше 1 месяца.
			<p>Если ЭП получает не владелец сертификата, а его доверенное лицо, то дополнительно предоставляются:</p>
				<ul>
					<li>Доверенность на получение сертификата (скачать бланк доверенности)</li>
					<li>	Паспорт доверенного лица - оригинал и дополнительно копия (2 и 3 страницы).</li>
				</ul>
			

		</li>
	
</ul>