
<div class='print_div'>



		
		
			<p class="boldtext">Юридическое лицо</p>
	
		
	<ul>
	
	
	<li><p>Свидетельство о постановке на учет в налоговом органе (ИНН/КПП)</p>
	<p>копия, заверенная организацией.* Обратите внимание на КПП в Свидетельстве, 
	такой же КПП должен быть во всех заявлениях, которые печатаются из личного кабинета.</p></li>
	<li><p>Свидетельство о государственной регистрации (ОГРН) или Свидетельство о внесении записи в ЕГРЮЛ</p>
	<p выдавалось при любых изменениях в реквизитах организации) - копия, заверенная организацией.* Обратите внимание на сокращенное наименование в данном Свидетельстве,
 такое же должно быть в Заявлении на создание квалифицированного сертификата ключа проверки электронной подписи в поле «О (наименование организации)».</li>
	<li><p>Копия документа, подтверждающего полномочия руководителя</p>
	<p>(приказ о назначении на должность руководителя организации или протокол Общего собрания участников 
	(акционеров) общества об избрании директора 
	(решение иного органа управления общества в соответствии с учредительными документами организации) 
	или решение собственника имущества унитарного предприятия о назначении директора) 
	- копия, заверенная организацией*. Обратите внимание, что не принимаются приказы по форме Т-1, Т-5 и т.п.
При изготовлении ЭП для участия в торгах не на руководителя, а на имя уполномоченного представителя организации 
- заверенная организацией доверенность, подтверждающая полномочия владельца 
(формируется в личном кабинете или скачать бланк доверенности УП) ЭП, и 
заверенный организацией приказ о назначении на должность.</p>

	</li>
	
	<li><p>Копия паспорта владельца ЭП</strong></p>
(2 и 3 страница паспорта, на чье имя изготавливается ЭП), заверенная организацией*. В случае, если получать ЭП приезжает лично владелец ЭП, то в УЦ предоставляется оригинал паспорта и копия. 
Если владельцем ЭП является иностранный гражданин – копия нотариального перевода паспорта, заверенная организацией*.</p>
	</li>
	<li><strong>Страховой номер индивидуального лицевого счета (СНИЛС) владельца ЭП</strong></br>
	(СНИЛС) владельца ЭП (лица, на чье имя изготавливается ЭП) – копия заверенная организацией*. 
	В случае отсутствия СНИЛС у лица, на чье имя изготавливается 
	Квалифицированный сертификат, необходимо предоставить  письмо
	о подтверждении СНИЛС или письмо об отсутствии СНИЛС", 
	сделав названия писем активным ссылками, нажимая на которые скачивается бланк письма.
</li>
	<li><p><strong>Для получения ЭП для участия в торгах оригинал или нотариально заверенная копия выписки из ЕГРЮЛ не старше 1 месяца.</strong></p>
		<p>«Квалифицированная подпись для ИС и электронных торгов» и «Подпись для участия в электронных торгах», предоставляется оригинал или нотариально заверенная копия выписки из ЕГРЮЛ не старше 1 месяца.</p></li>
	<li><p>Доверенность на получение, если ЭП получает не владелец сертификата (скачать бланк доверенности).</p>
	<p>Если ЭП получает не владелец сертификата, а его доверенное лицо, то дополнительно предоставляются:</p>
		<ul>
			<li>Доверенность на получение сертификата (скачать бланк доверенности)</li>
			<li>	Паспорт доверенного лица - оригинал и дополнительно копия (2 и 3 страницы).</li>
		</ul>
	

</li>
	
</ul>


</div>