

.u_save_avatar{
    
    margin-top:40px;
    
}
.user_info_settings{margin-bottom:70px;}

.add_project_div{display:none;background-color:#fff;}

.map{position:relative;overflow:hidden;margin-top:50px;}
#add_project{display:none;}

.close_project{margin:0px;padding:0px;font-size:16px;color:red;font-weight:600;width:20px;cursor:pointer;margin-bottom:20px;position:relative;top:-20px;right:-20px;}

.plus_add_proj:hover{color:#827C6D;  font-size:3.5em;}
.sort_project{
font-size:1.3em;
color:#BC1619;

font-family: 'Frijole';}
.categ_item{padding:6px;border-radius:7px;background-color:#683A6D;color:#fff;font-weight:500;}
.nav_options_project{

    position:absolute;
    top:22px;
    left:359px;
}
#project_ava_div img{
    width:100%;
    overflow-y:visible
    
    
}
.location_items{border-bottom:2px solid grey;border-top:2px solid grey}
.location_items p span{color:grey;margin:20px;}
.location_items p span:hover{font-weight:bold;}

.description_proj{margin-top:20px;}

.project_header_wrap{margin:0px;margin-bottom:40px;padding-bottom:20px;border-bottom:1px solid grey;}


#project_detail_show_wrap{display:none;position:absolute;top:60px;z-index:10;background-color:#FFF9F4;}
#project_detail_show_wrap img{width:90%;}

.project_detail_show{border:1px solid grey;border-radius:5px;}

.location_items{display:none;}

#project_type {
 
    position:relative;
    overflow:hidden;
}

#project_type>div{
    color:#E1EDE4;
    font-size:1.1em;font-weight:bold;

    height:70px;
       background-color:#202120;
    border:3px solid #66094A;
    margin-left:5px;
  
}
#project_type>div:hover{border-bottom:2px solid #AF5B99;opacity:0.8}




.change_title_proj_foto,.change_ava_{   cursor:pointer;
 ;margin:0px;padding:0px;

}

.file_upload{
    position: relative;
    overflow: hidden;
    font-size: 1em;        
    line-height: 2em ;
    background-color:#EAE8ED;
    opacity:0.7;
    height:50px;
    margin:5px;
    margin-top:20px;
    margin-left:10px;
    color:#1D1E35;
    text-align:center;

}
.project_foto_upload {    position: relative;
    overflow: hidden;}






   .project_foto_upload >button,.file_upload >button{
       z-index:1;
        
    }

.project_foto_upload input[type=file],.file_upload input[type=file]{
    position: absolute;
    left: 0;
    top: 0;
  width:100%;
  height:100%;
z-index:100;

    letter-spacing: 10em;     /* IE 9 fix */
    -ms-transform: scale(20); /* IE 9 fix */
    opacity: 0;
    cursor: pointer
}
li .file_upload{margin:0px;}
#main_content{
background-color:#faf4e5;min-height: 400px;height:auto; border-radius:10px 0;margin-left:40px;    margin-top:50px;
    padding:0px;
    padding:25px;}






#main_content div{margin:10px 0}




.proj_text_area{
 
  
margin-top:10px;
    overflow:hidden;
}
.proj_area{
    padding:0px;
    width:80%;
}
 #sortable1, #sortable2 {
border: 1px solid #eee;
width: 142px;
min-height: 20px;
list-style-type: none;
margin: 0;
padding: 5px 0 0 0;
float: left;
margin-right: 10px;
}
#sortable1 li, #sortable2 li {
margin: 0 5px 5px 5px;
padding: 5px;
font-size: 1.2em;
width: 120px;
}




.area_div{
    display:none;
    border:1px solid grey;
}
.embed_area{
    width:100%;
    overflow:visible;
}

#avadiv{
    
    height:150px;
    border:1px solid grey;
}

#main_proj_info{
    
    border:1px solid #53537C;
}

#project_name_div input {
margin-top:50px;

}
 .proj_embed_video, proj_embed_area{margin:10px;}
.mycssmodal{
    
    
    background:white;
}


.modal {
    background-clip: padding-box;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    left: 10%;

    overflow: auto;
    position: absolute;
  top:70px;
    width: 70%;
    z-index: 1050;
}

.left_menu_project{
    margin-top:50px;
    border-radius:6px;
  margin-bottom:40px;    
    padding:0px;
    background-color:#202120;
    border:3px solid #66094A;
    opacity:0.9;
}
.left_menu_project_ul{
    
   
    width:100%;
    padding:0px;
  margin:0px;
    border-radius:5px;
 
}
.left_menu_project_ul ul{    padding:0px;}

.left_menu_project_ul li{
 color:#F4F4F4;
    border-bottom:1px solid #F2A9BA;
    height:50px;

background-color:#202120;
list-style-type:none;
    width:100%;
padding-top:10px;
 text-align:center;
    
    
}

.left_menu_project_ul li:hover{cursor:pointer;border-bottom:2px solid white;background-color:#E8E8E8;color:#0A2311;}


.sort_proj_div{
    
    display:none;
}

.footer_sort_div{
    
    background-color:#FC8AA9;
    height:5px;
    border:1px dotted #E8C7D0;
}

.ui_state_default_class_sort{
    
    height:auto;
    margin:20px;
    width:70%;
}

.download_project_icon{color:#F2E8EE;font-weight:bolder;font-size:1.2em;};

#colorpickerField{
    display:none;
}

.pickercolor_wrap{
    
    position:absolute;z-index:10
}
#close_picker{
    cursor:pointer;
    color:white;

   width:20px;


top:3px;
right:5px;
   background-color:#e62222;
   border-radius:20px;
   text-align:center;
   display:none;
   z-index:2;
    font-weight:bolder;
 


}

#hidden_background{
    
    display:none;
}



.projects_icon{font-weight:bolder;color:white;font-size:1.2em;text-align:center;}
.my_jumrton{background-color:#3E2A75;height:100px;}

.dropdown-menu li:hover{background-color:#EAD5EF}

#project_type_list{height:400px;display:none;border-radius:9px;}
#select_cat{width:60px;cursor:pointer;};
#select_cat:hover{font-weight:bold;}
#project_type_list optgroup{text-align:center;font-weight:bolder;}
#project_type_list optgroup option{padding:10px;};
.proj_title input{padding:10px;background-color:#382135};

.proj_title{}

.chk_list_proj{
   font-size:0.8em; background-color:#B3B7AC;border-radius:8px;padding:10px;
}
.category_current{color:#6E6770;font-weight:bold;margin-left:5px;};
.body_bck{background-color:grey;}

.input-group{margin:5px;}
.interes_div{margin-top:50px;background-color: #EEEEEE; };
.topicplaceholder {
    color: #aaa;
    cursor: text;
    padding-left: 1px;
    position: absolute;
}

.newtopicinput {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    border-radius: 0;
    cursor: text;
    font-family: inherit;
    font-size: 1em;
    outline: 0 none !important;
    padding: 0;
    width: 50%;
}

#map_canvas{
   
    overflow:hidden;
    min-width:100%;
}






#mapp{display:none;
z-index:100000}

.fon_trans_img{position:absolute;
               top:0px;
               right:0px;
width:100%;
cursor:pointer;
opacity:0;
}



.chk_list_proj{margin:5px;padding:10px;border-radius:6px;background-color:#62A4C6}

#drop_down_svg:hover{cursor:pointer;}







#submit_list_proj{margin:40px;}

.map_wrap{

    padding:0px;
    margin-top:20px;
      margin-bottom:20px;
    
 
    
}
.save_categ{color:#74899E;font-weight:bold;font-size:1.1em;}
.menu_sort{border-radius:6px;background-color:white;margin-top:20px;}


.add_project_p{font-weight:bold;font-size:2em;color:#827C6D;}




.ui-state-default{padding:10px;margin:0px;};
.ui-state-default textarea,.ui-state-default img{padding:0px}


 .project_foto{margin-top:10px;margin-bottom:10px;}
 
 
.add_project_div {overflow:visible;background-color:#fff;height:auto};
.add_project_contnet{min-height:800px;height:auto;}







