menuhtml,
body {
 
background-color:#fff;
    font-family: "Bubblegum Sans";
    font-size:12pt;
  
    
    
}



input:hover{border:1px solid #6290C9}
body div,div,.main_aside_wrap,.project_div,.img_projects_div {padding:0px;margin:0px;}

.info_link_svg{height:30px;width:50px;padding: 2px 0}
.project_div{ box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);overflow:hidden;}
.add_project_div div{padding:0px;margin:0px;}
.project_wrap_div{background:url('/images/body.png') repeat;padding:0px;margin:0px;}
.add_project_div{margin-top:40px;}

/*ссылки*/


/*Главный контейнер*/


/*оболочка главного меню*/
.main_menu {height:40px;padding:0px;}





.show_project_title_foto {display:none;border:1px solid grey;position:absolute;background-color:#74797F;z-index:1;top:-30px;}


.main_page_slide{height:350px;margin-top:40px;border:1px solid red;background-color:#fff;border-radius:10px 10px; background-color: #222;}



#project_list div img{padding:0px;margin:0px;}

.breadcrumb{margin:0px;margin-left:100px;padding:0px;font-weight:bold;background:none;}
.breadcrumb a{color:#bbc3c9;}
.breadcrumb > .active{color:#red;font-style:italic;}


.personal_settings{border-top:2px solid #E1E7F4;background-color:#F46464;height:auto;margin-top:40px;padding:0px;}
.personal_settings a{color:#fff}

.left_menu_items{list-style-type: none;margin-top:20px;}
.left_menu_items li{margin:2px 0;padding:2px 0}
.left_menu_items a{color:#555966;}
.left_menu_items a:hover{text-decoration:none;color:#D3E7ED}

/*левое меню пользователя*/


.myprojects {border-radius:10px;text-align:center;margin:20px 0;color:#fff;background-color:#FF8789;height:30px;cursor:pointer;}
.myprojects:hover{border-bottom:1px solid #fff;}





/*форма авторизаии*/
.auth_form {overflow:hidden;border-left:3px dotted #7795AD;border-right:3px dotted #7795AD;font-weight:700;border-radius:20px;height:400px;background-color:#EDF7ED;margin-top:50px;margin-bottom:250px;}
.auth_form table td{width:45%;margin:10px;}
.auth_form table td input{margin:10px;width:90%;border:1px solid #56ADAB}










.body-content{overflow:hidden;}

.project_wrap_div{
    overflow:hidden;
    height:800px;
    background-color:#fff;
}



.color_div {  min-height:900px;
position:relative;
padding:0px;
margin:0px;
    background-color:#faf4e5;
    left:210px;
padding-top:60px;
padding-left:10px;
    border-radius :90px 0 0 0;
    font-size:12px;
    color:#45544B;
    height:auto;
  


}
.container,.container-fluid{padding:0px;margin:0px;}

.wrap {
    min-height: 100%;
    height: auto;

 
  
}




.footer {
    position:relative;
    
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    bottom:0px;
}


//меню сортироваки//

.modal_main_list_proj{display:none;}



.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.pic_div{
    
    width:20%;
    float:left;
    border:2px solid black;
}

/////////////////-------projects-------////////







nav_options_project{
    
    width:90%;
}






.u_fio{
   
    border:1px solid #FFF4F5;
    
}
.close_ava_add_div{cursor:pointer;}



.download_ava_icon{
    font-weight:bolder;
    font-size:1.2em;
    color:white;
    overflow:hidden;
}





 .glyphicon glyphicon-home{font-weight:bolder;
 
 font-size:1.4em;}



#project_detail_modal{min-height:900px;}

.project_content{height:900px;}

.settings_menu ul{list-style-type:none;padding:10px;margin:0px;}
.settings_menu li{float:left;width:15%;padding:10px;border-radius:5px 5px 0 0}

.settings_menu_li_fon{background-color:#FFECDD}


/*сортировка в главном меню*/



/*катеории при добавление проекта*/

.add_project_category_list {top:10px;height:200px;z-index:10;display:none;position:absolute;background-color:#fff;border-radius:10px;}

.categ_div{overflow:hidden;white-space: nowrap;;text-align:left;font-size:0.7em;height:30px;text-overflow:ellipsis}




.sort_param div{width:auto;padding:5px;height:25px;margin:15px;}
/*закрывтие спиок атегорий и сортировки*/
.close_main_sort_cat_list{position:absolute;cursor:pointer;}

/*форма авториации*/
#loginform{position:absolute;height:150px;background-color:#FFF;display:none;z-index:20;margin-top:20px;}
.login_table{color:#33322F;font-weight:400}
.login_table tr{padding:5px;}
.login_table  input{width:70%;padding:5px;}
.login_table  input:hover{border:1px solid #F2EF3E}
.login_table input[type='submit']{background-color:#EA5656;color:#fff;position:relative;top:-20px;border:none;border-radius:no;width:80px;height:50px;}

/*средняя пололса*/









/*фон лого*/

.main_logo object{margin-left:25%}

/*див событий*/



/*див пролектов на главной*/



/*сортировка проектов*/













#project_list>div{margin:5px;}
.project_nav>div{position:relative;}

.project_nav div{float:left;height:50px;color:grey;}
.main-page_layer .project_canvas{margin-top:40px;}
.project_canvas>div{display:none;}
add_project_content.project_canvas{width:100%;}
.add_project_wrap{border:1px solid grey;overflow:visible;background:#fff;}
.main-page_layer .top_add_project_menu{margin-bottom:25px;}
.top_add_project_menu div{;margin:5px;color:#425368;height:60px;border-right:1px dotted grey;text-align:center;}
.top_add_project_menu div:hover{cursor:pointer;font-weight:bold;}


.project_nav_wrap{background-color:#DEE3E8;border-bottom:1px solid #754242;height:50px;background-color:#3F4244}
.project_ava{ border-right:1px solid grey; border-right:2px dashed #F23A3A};

.project_title_desc{padding:20px;}
.project_title_desc p {margin:20px;}
.main-page_layer .project_add_ava{height:350px;}
.add_project_content{width:100%;overflow:hidden;position:relative;}

.add_project_div,.main-page_layer{padding-top:50px;background:#959799}





.user_ava img{height:90px;}
/*убираем отсупы*/

/*для nav add project*/

.project_nav_svg  {position:absolute;top:0;left:0;overflow:visible;}
.main-page_layer .project_nav_title{position:relative;margin-left:55%;top:20%;}

.add_ava{position:relative;left:4%;}
.publish_proj{position:relative;left:-4%;}
.main-page_layer .next_add_project_item{position:relative;cursor:pointer;height:50px;color:#fff;text-align:center;vertical-align:middle;padding-top:10px;font-weight:bold;}

.next_add_project_item_back{position:absolute;top:0;left:0;background-color:#77934C;opacity:0.3;height:50px;}
.main-page_layer .project_title_desc p{margin:30px;padding-bottom:20px;}
.additional_project_info{height:300px;}
.additional_project_info .row{margin-top:10px;}
.additional_project_info .row>p{color:#1E1D23;font-weight:bold;}


.selected_categ_list{height:auto;padding:20px;overflow:visible}
.sel_cat_item{color:#fff;font-weight:600;padding:4px;background-color:#C45269;border-radius:3px 0 0 3px;}
.sel_cat_item_wrap{overflow:visible;  font-size: 75%;width:auto;text-align: center;vertical-align: baseline; font-weight: bold;

    padding:5px;white-space:nowrap;height:auto;display:inline;line-height:30px;}

.add_selected_categ{ 
border-radius:4px;min-height:50px;height:auto;border:1px solid #CCCCCC; word-break: normal;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;}
.add_selected_categ:hover{cursor:text;}
.remove_tag{z-index:10;cursor:pointer;color:#fff;background-color:#737E89;padding:4px;border-left:1px solid grey;position:relative;right:0px;border-radius:0 3px 3px 0}
.remove_tag:hover{background-color:#B5B5B5}

.preshow_proj{color:#E5E5E5;border-left:1px dotted grey;border-right:1px dotted grey;height:50px;text-align:center;}

#submit_project,#submit_publish{color:#E5E5E5;cursor:pointer;text-align:center;height:50px;}
#submit_project .glyphicon-floppy-disk{line-height:22px;color:#32935E;font-weight:bold;font-size:1.1em;}
#submit_publish{;border-left:1px dotted grey;}

#submit_publish .glyphicon-ok{color:#D65957;font-weight:bold;font-size:1.1em;}





.user_login span,.user_logout span, .site_info span{font-size:1.1em;font-weight:bold;text-align:center;width:90%;margin-top:5%;}
.ava_wrap{position:absolute;top:0px;left:0px;padding:0px;z-index:10;width:90px;}

.user_name{height:50px;position:relative;z-index:100;color:#E0E4E5;}
.user_name p{padding-top:10px;}


.googlemap_wrap{display:none;}



.main_right_menu {height:auto;min-height:900px;position:fixed;}

.main-page_layer{height:auto;min-height:800px;}


.breadcrumb_wrap {min-height:30px;padding:0px;clear:both;}


/*категория на главной*/
.categ_title{background-color:#E8553E;color:#fff;font-size:1.1em;text-align:center}
.categ_div_main {min-height:150px;width:150px;float:left;text-align:center;}
.categ_div_main p{padding:2px;margin:2px;}
.categ_div_main p:not(.categ_title):hover{border-bottom:1px dotted #EA5656;cursor:pointer;padding:2px;padding-bottom:1px}


/*меню коллекциий*/
.project_category_main{display:none;position:absolute;background-color:#fff;top:71px;color:#6B6872;height:200px;z-index:10000}
/*выбранная коллекция*/
.selected_main_categ_list{font-size:17pt;color:#F4F0D7;font-style:italic;font-weight:bold;margin-top:30px;}

.main_page_categ_view {height:50px;}
.show_change_foto_menu{display:none;}
.user_profile_top_right_fon{display:none;background-color:#000;height:210px;position:absolute;z-index:1}


/*диа профиля на главной*/

.user_profile{position:fixed;display:none;z-index:2;text-align:center;height:100%;min-height:900px;}
#chek_if_user_is_not_guest{display:none;}
.user_ava_main_page img{width:40px;height:40px;}


/*ЛОГО*/

.logo{font-size:2em;height:80px;margin:10px 0 0 50px;border-radius:5px; }
.logo_text span{position:relative;top:20px;color:#FC8444}
.rotate_logo_text{height:60px;background-color:#E25518;color:#fff;margin-top:10px;}
.rotate_logo_text span{position:relative;right:10px;top:10px;opacity:0.8}
/*название пунктов*/
.a_menu {
  font-size:12pt;


  
  font-weight:bold;

}
.a_menu:hover{  color:#352729;border-bottom:1px solid red;cursor:pointer;}
.user_pers_login{position:relative;right:-5px;}
.user_ava_main_page{padding-top:5px;}
.main_top_header{background:linear-gradient(135deg, #112630 2%,#1d2338 92%);padding:0px;height:50px;z-index:500}
.medium_main_area{height:200px;padding:0px;margin:0px;background:linear-gradient(to right, #2d2d2d 0%,#637b7f 45%,#202021 99%);
                 box-shadow: 0 0  3px  2px #62C7E0;z-index:300}
.breadcrumb_wrap{background:none;}
.breadcrumb_wrap{z-index:1001}

.user_ava_main_page  {float:right;}
.main_top_header nav{overflow:visible;line-height:2.6em;}
.main_top_header a{line-height:2.5em;color:#E0CFC9}
.user_pers_menu span{margin-left:25px;cursor:pointer;}
.user_popup_menu_icon{cursor:pointer;font-size:1.2em;color:#F9E1E0}
/*popup menu*/
.user_pers_menu .glyphicon-list{margin-left:50px;cursor:pointer}
.user_pers_popup_menu{display:none;height:180px;border-left:1px solid grey;position:absolute;z-index:15;top:48px;left:20px;}
.user_pers_popup_menu a{color:#F2842B}
.user_pers_popup_menu span{padding-top:1px;}
.popup_uprofile{color:#40404C}
.user_pers_page_menu .glyphicon,.user_pers_popup_menu .glyphicon{margin-right:10px;line-height:26px;border:1px solid grey;background:#fff;border-radius:50%;width:30px;height:30px;position:relative;text-align:center;}
.user_pers_page_menu ,.user_pers_popup_menu{padding:0px;}
.user_pers_page_menu div,.user_pers_popup_menu div{position:relative;left:-15px;margin:10px 0;padding:0px;}

/*uprofile*/

.user_pers_page_menu div:last-child,.user_pers_popup_menu div:last-child{position:absolute;bottom:-5px;margin:0px}

/*us_menu*/
.user_pers_page_menu {height:170px;border-left:1px solid grey;position:absolute;z-index:5;left:55px;}


.project_content_wrap{margin-top:50px;}

.user_popup_menu_wrap{;border-left:1px dotted grey;color:#A9C9C2;height:50px;padding-top:5px;}
.user_name{padding-left:25%;color:#0C1F28;font-size:14pt;font-weight:bold;}

#proj_colorpicker{position:absolute;height:100px;right:5px;z-index:110}
.project_nav_fixed{position:fixed;top:0px;border:1px solid grey;}
.pickercolor_wrap{height:auto;position:relative;overflow:visible}
.popup_exit{color:#EF3C39}
.general_settings{display:none}

.main_settings_menu{margin-bottom:60px;font-weight:bold;font-size:1.1em;}
.main_settings_menu div{cursor:pointer;}

.main_settings_menu div[check_it ='1']{color:#ED6A68;}

.project_detail_show_wrap {display:none}
.project_detail_show img{width:100%}
.change_user_ava{display:none;position:absolute;height:300px;z-index:1000;top:150px;background-color:#CDD3D3}
.user_ava_div{width:250px;height:190px;border:1px solid grey;}
.user_ava_div img{padding:0px;}


.change_user_ava input[type ='file']{position:absolute;width:100%;opacity:0;z-index:10}
.save_user_ava{height:40px;background-color:grey;text-align:right;margin-top:20px;}
.load_user_ava{height:40px;background-color:grey;}
.save_general_settings{cursor:pointer;text-align:right;zindex:100}
.aside_wrap{z-index:10000;background:url(../images/back_aside.png) repeat;
         
            
            position:fixed;top:0px;left:0px;height:1000px;text-align:center;
    box-shadow: 0 0 6px 2px #C9BEB9;
}

 .project_nav_sort_menu div{width:40px;height:40px;background-color:#050b1f;box-shadow: 0 0  1px  1px #EF7D53;;border-radius:50%;color:#E0DFD0;box-shadow: 0 0 3px 2px #62c7e0}  
.aside_wrap div{margin:25px 0px;}
 .project_nav_sort_menu .glyphicon{font-weight:bold;font-size:1.3em;text-align:center;position:relative;top:11px;left:11px;}

  .project_nav_sort_menu {z-index:101;color:#F4F0D7}
.main_aside_wrap img{padding:0px;margin:0px;}

.main_aside_wrap aside a{color:#544646;font-weight:bold;font-size:1.1em}
 .project_nav_sort_menu{position:absolute;bottom:-25px;}
/*prject*/

.add_project{background-color:#ED6A68;color:#e0cfc9;height:50px;}

.add_project span{padding:0px 10px;position:relative;}
.add_project .glyphicon{top:8px;font-size:1.8em;}

 .proj_status{height:25px;background-color:#F7F4F4;position:absolute;bottom:0px;padding:0px;margin:0px;}
.cur_project_content{position:relative;height:300px;}

 .project_author_info{height:25px;padding-left:10px;}
.proj_name{height:30px;margin-bottom:5px;border-bottom:1px dotted #F2EFEF;padding-left:10px;font-weight:700;}
.cur_project_content{overflow:hidden;padding:0px;}

.user_project_list{margin-top:80px;}

.project_div,.project_div div{margin:0px;}


.project_div,.user_project_div{width:240px;position:relative;float:left;margin:0px 7px;}

/*svg_filt_menu*/

.svg_icons_wrap ,.filter_svg_menu_wrap{position:absolute;  bottom: -10px;margin-left:10px;height:40px;}


.filter_svg_menu_wrap{display:none;}
.filt_svg_icon object{float:left;}
.svg_icons_wrap img{margin:0px 30px;position:relative}
.svg_icons_wrap{margin-left:50px;top:-10px;}
.svg_icons_wrap .svg_icon_like{left:10px;}
.svg_icons_wrap .svg_icon_view{left:-5px;}
.svg_icons_wrap .svg_icon_date{left:-10px;}
.svg_icons_wrap .svg_icon_loc{left:-30px;}




.clearboth{clear:both}



.svg_icon_wrap{position:absolute;width:100%;left:0;background-color:none;height:80px;cursor:pointer;}
.filter_svg_menu div{padding:0px;}



.body_div_wrap_hidden{display:none;width:100%;height:100%;position:absolute;left:0px;top:0px; z-index:100;opacity:0.9;   background-color:#8C8E91;}




.mybtn{padding:10px;border-radius:10px;text-align:center;background-color:#ED636F;color:#fff;font-weight:bold;position:absolute;bottom:0px}

.mybtn_close{
    padding:5px;
    border:1px solid grey;
    background:#000;
    color:#fff;
    border-radius:50%;
    width:25px;
    height:25px;
    text-align:center;
    position:absolute;
    top:-10px;right:-10px;
    z-index:10000;

  
}



.mybtn_close span:before{
    content:'x';
    position:relative;
    top:-50%;
    font-size:1.2em;
    font-weight:bold;
   
}


.close_date_sort,.close_loc_sort{height:20px;width:20px;display:inline-block;border-radius:50%;background-color:grey;color:#fff;position:absolute;top:-10px;right:-10px;}
.error_div{display:none;
           font-weight:bold;
           height:auto;

}
.project_user_wrap {margin-top:50px;margin-left:30px;}
.error_brd{border:1px solid red;}
.project_time,.map_project_city{font-weight:bold;text-align:center;width:40%;display:inline-block;padding:10px;border-radius:6px;}


/*time on header*/

.current_time_php{color:#e0cfc9;font-style:italic;}


/*map_sort*/
.sort_map{height:200px;z-index:1000;}
.sort_map_wrap{
   width:350px;height:330px; position:absolute;
}

.project_date_check,.sort_map_wrap{display:none;left:20%;margin-top:90px;background:#fff}
.sort_map_wrap input{padding:10px;}

/*calendar*/
.project_date_check{width:200px;height:230px; position:absolute}
.proj_sort_menu {list-style-type:none;padding:0px;}
.proj_sort_menu li{color:#6b6872;padding:10px 0;text-align:center;}
.proj_sort_menu li:hover{background-color:#EFEFEF;font-weight:bold;cursor:pointer;}
.hasDatepicker{background:#F47749;position:absolute;bottom:-200px;width:300px;height:200px;color:#fff}
.hasDatepicker a{color:#fff}

.project_sort_info {display:none;}
.project_sort_info_click{position:absolute;left:4000}

/*выводв занение сортровки*/

/*-----------general sort view div---*/
.opacity_wrap{opacity:0.6;z-index:301;position:absolute;background:#fff;min-height:90px;height:auto;width:100%;border-radius:8px;}
.project_sort_info>div{display:none;padding:0px;text-align:center;margin:0px 20px;}
.project_sort_info>div p{text-align:center;color:#fff;background:#C96060}
.sort_wrap{position:relative;z-index:320;}

